<!DOCTYPE html>
<html>
    <head>
        <title>Hank Tilson | About</title>
        <meta name="description" content="Hank Tilson Fine Art Photography">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'> 
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <nav>
            <a class="hank" href="../index.html">Hank Tilson</a>
        </nav>
    </body>
</html>