<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>    <link rel="stylesheet" href="/styles/american-west.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>LEVIATHAN</title>
</head>
<body>
    <nav>
        <a class="hank" href="../index.html">Hank Tilson</a>

        <a class="nav-item" href="templates/Gallery.html">Gallery</a>
        <a class="nav-item" href="templates/About.html">About</a>
        <span class="a nav-item"></span>
    </nav>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <figure>
            <img class="image" src="/images/american_west/aw-1.webp" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-2.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-3.webp" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-4.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-5.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-6.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-7.webp" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-8.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-9.webp" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/american_west/aw-10.webp" draggable="false" />
        </figure>
    </div>
    <div class="info">
        <div>The American West is a body of work representing a connection of the past to the present in order to push into the future. You do not need to be certain about your future or worry about the coming years, but it is important to remember where you came from.</div><br><br>
        <span class="year">2019</span><br><br><br><br><br>
        <span class="copyright">Copyright &copy; 2024 Hank Tilson - All Rights Reserved.</span><br><br><br>
    </div>
</body>
<script src="/scripts/gallery.js"></script>
</html>