<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>    <link rel="stylesheet" href="/styles/gallery.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>LEVIATHAN</title>
</head>
<body>
    <nav>
        <a class="hank" href="../index.html">Hank Tilson</a>

        <a class="nav-item" href="templates/Gallery.html">Gallery</a>
        <a class="nav-item" href="templates/About.html">About</a>
        <span class="a nav-item"></span>
    </nav>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <figure>
            <img class="image" src="/images/Leviathan/Moon-LAMBDA.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/SettingSun.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/GreyLake.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/StormCloud.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/DuneSunset.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/BoatWake.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/SeagullsFlying.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/EndOfRoad.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/NightSea2.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/PassChristian.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/Pier-LAMBDA.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/CurvedFences.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/SnowDunes.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/StormyOKI.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/Leviathan/PeaIsland.jpg" draggable="false" />
        </figure>
    </div>
</body>
<script src="/scripts/gallery.js"></script>
</html>