<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="Styles.css">
        <title>Strangeness</title>
    </head>
    <header>
    </header>
    <body>
    <ul class="nav">
           <li><a href="Home.html"><em>Home</em></a></li>
            <li><a href="About.html"><em>About</em></a></li>
        </ul>
        <hr>
        <div class="Titles">
            <h1><em>Strangeness</em></h1>    
            <h2>(work in progress)</h2>
            <br>
            <br>
            2022 - Current
            <br>
            <a href="http://127.0.0.1:49253/Home.html" target="_blank">Project Statement</a>
        </div>
        <br>
        <br>
        <br>
        <div class="Pictures">
            <div class="image"><img src="Images/Strangeness/whitesands15.jpg"></div>
            <div class="image"><img src="Images/Strangeness/1.2.23-4.jpg"></div>
            <div class="image"><img src="Images/Strangeness/1.25.23-26.jpg"></div>
            <div class="image"><img src="Images/Strangeness/CarlsbadCave.jpg"></div>
            <div class="image"><img src="Images/Strangeness/1.25.23-31.jpg"></div>
            <div class="image"><img src="Images/Strangeness/1.25.23-27.jpg"></div>
            <div class="image"><img src="Images/Strangeness/newmexico6.jpg"></div>
            <div class="image"><img src="Images/Strangeness/Summer202238.jpg"></div>
            <div class="image"><img src="Images/Strangeness/Summer202234.jpg"></div>
            <div class="image"><img src="Images/Strangeness/newmexico14.jpg"></div>
            <div class="image"><img src="Images/Strangeness/Summer202241.jpg"></div>
            <div class="image"><img src="Images/Strangeness/WhiteSandsBW.jpg"></div>
            <div class="image"><img src="Images/Strangeness/newmexico10.jpg"></div>
            <div class="image"><img src="Images/Strangeness/newmexico3.jpg"></div>
            <div class="image"><img src="Images/Strangeness/carlsbad19.jpg"></div>
            <div class="image"><img src="Images/Strangeness/1.25.23-34.jpg" style="margin-right: 100px"></div>
        </div>
    </body>
    
</html>