<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>    <link rel="stylesheet" href="/styles/gallery.css">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>LEVIATHAN</title>
</head>
<nav>
    <a class="hank" href="../index.html">Hank Tilson</a>

    <a class="nav-item" href="templates/Gallery.html">Gallery</a>
    <a class="nav-item" href="templates/About.html">About</a>
    <span class="a nav-item"></span>
</nav>
<body>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_01.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_02.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_03.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_04.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_05.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_06.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_07.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_08.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_09.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_10.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_11.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_12.jpg" draggable="false" />
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_13.jpg" draggable="false">
        </figure>
        <figure>
            <img class="image" src="/images/totemic/Tilson_Hank_14.jpg" draggable="false" />
        </figure>
    </div>
    <div class="info">
        Rural places have always instilled a sense of calm and wonder in me. Through long drives, I escape into the stillness of fields and farms, letting all the commotion fade into the distance. As my explorations continue, a fascination with the shapes of mundane silos and rural industry has steadily grown. Totemic Intersections analyzes the forms of these grand structures, shiny towers which stand in stark contrast against the surrounding pastoral landscape. This visual juxtaposition has become synonymous with rural farmland - where humans interact with nature in the most unnatural ways and roadside silos become wondrous sculptures, monuments to rural industry. <br><br>
        Not only is this work driven by physical exploration of Central New York, it has also been an opportunity to learn large-format photography and hone my skills with the enlarger. Expired, cross-processed negatives are printed onto expired paper, producing colors that are wildly magical. In stark contrast to the industrial subjects (most commonly depicted with absolute precisionist techniques), these photographs embrace unpredictability and subjectivity. Each print takes this unpredictability and brings it further. Some explore the addition of my breath, creating a hazy and dreamy image. Others are composed of multiple exposures, each with varying filtration and dodging, building the image color by color. <br><br>
        These photographs emphasize, soften, and celebrate the beautiful shapes of rural industrialization to which many have become numb. The silos and machines exist at the intersection of humanity, land, and industry. My photographs exist at the intersection of light, machines, and chemistry. Both of these intersections meet in the darkroom, providing me an opportunity to appreciate and showcase strange shapes in the world that we frequently drive by and take for granted.<br><br><br><br><br>
        <span class="year">2021</span><br><br><br><br><br>
        <span class="copyright">Copyright &copy; 2024 Hank Tilson - All Rights Reserved.</span><br><br><br>
    </div>
</body>
<script src="/scripts/gallery.js"></script>
</html>